[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "9.0.1"
python-decouple = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
